.godot
.godot/uid_cache.bin
.godot/editor/editor_layout.cfg
./.godot
.godot/uid_cache.bin
.godot/editor/editor_layout.cfg
.godot/editor/enemigo.tscn-folding-4bea628bc104bae7a844fa50663794f1.cfg
.godot/editor/filesystem_cache10
.godot/editor/script_editor_cache.cfg
.godot/global_script_class_cache.cfg
.godot/uid_cache.bin
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/enemigo.tscn-editstate-4bea628bc104bae7a844fa50663794f1.cfg
.godot/editor/enemigo.tscn-folding-4bea628bc104bae7a844fa50663794f1.cfg
.godot/editor/filesystem_cache10
.godot/editor/filesystem_update4
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/script_editor_cache.cfg
.godot/exported/133200997/export-4bea628bc104bae7a844fa50663794f1-enemigo.scn
.godot/exported/133200997/file_cache
